@font-face {
    font-family: CentraNo1-Light;
    src: url(./CentraNo1-Light.woff)
}

@font-face {
    font-family: CentraNo2-Medium;
    src: url(./CentraNo2-Medium.woff)
}

@font-face {
    font-family: CentraNo2-Book;
    src: url(./CentraNo2-Book.woff)
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: CentraNo1-Light;
    font-size: clamp(13px, 4.375vw, 29px);
}

#msg {
    font-size: 1em;
}

main > div {
    height: fit-content;
}

.bg-gray-800 {
    background-color: #0e0e0e;
}

.border-gray-700 {
    border-color: #fff;
    border-radius: 0.5em;
}

.rounded-sm {
    border-radius: .5em;
}
